body {
    background-color: #fdf0d5;
    color: #003049;
    margin: 0;
    padding: 0;
}

.section-divider {
    width: 100%;
    height: 3px;
    background-color: #003049;
}

/* sezione iniziale */
.hero-section {
    width: 100vw;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 1rem;
    background-color: #fdf0d5;
    color: #003049;
    text-align: center;
}

.hero-section h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #003049;
}

.hero-section p {
    font-size: 1.2rem;
    line-height: 1.8;
    color: #003049;
}

@media (max-width: 768px) {
    .hero-section {
        height: auto;
        padding: 2rem 1rem;
    }

    .hero-section h2 {
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }

    .hero-section p {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    .hero-section h2 {
        font-size: 0.8rem;
    }

    .hero-section p {
        font-size: 0.4rem;
        line-height: 1.6;
    }
}

/* sezione serie */
.series-section {
    background-color: #fdf0d5;
    width: 100vw;
    height: 100vh;
    padding: 40px 20px;
}

.series-title {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #003049;
    text-transform: uppercase;
    padding-bottom: 5px;
}

.series-description-wrapper,
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.series-description {
    color: #003049;
    font-size: 17px;
    margin-bottom: 20px;
    padding-right: 20px;
    line-height: 1.6;
    text-align: justify;
}

.wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.carousel {
    display: flex;
    align-items: center;
    position: relative;
}

.video-list {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.item {
    flex: 0 0 auto;
    width: 300px; /* Aumentata larghezza delle immagini */
    margin: 10px;
    position: relative;
    transition: var(--duration) transform ease, var(--duration) box-shadow ease;
}

.item:hover,
.item:focus {
    transform: scale(1.05) translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
}

.item img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 8px;
}

.video-title-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.video-title {
    color: #fff;
    font-size: 16px;
    text-align: center;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
    margin: 0;
}

.arrow__btn {
    position: absolute;
    color: #fff;
    text-decoration: none;
    font-size: 3em;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    width: 80px; /* Larghezza fissa */
    height: 100%; /* Altezza pari al carosello */
    padding: 0;
    text-align: center;
    z-index: 1;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s, opacity 0.3s ease;
    border: none; /* Nessun bordo */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0; /* Default to hidden */
}

.carousel:hover .arrow__btn {
    opacity: 1; /* Show arrows on hover */
}

.left-arrow {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    left: 0;
}

.right-arrow {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    right: 0;
}

@media only screen and (max-width: 768px) {
    .series-title {
        font-size: 22px;
    }

    .item {
        width: 180px; /* Immagini più piccole su dispositivi più piccoli */
    }

    .arrow__btn {
        width: 60px; /* Frecce più strette su schermi piccoli */
    }
}
